#section_404{padding:32px 0;}
#section_404 h1{text-align: center;font-weight:bold;font-size: 200%;margin:32px 0;color:#fff;text-shadow: 4px 4px 8px #000;line-height: 1.46em;}
#section_404 img{width:100%;height:auto;margin-bottom:32px;}