.self_ad_cotainer, .self_ad_cotainer img{width:100%;min-height: 40px;object-fit: cover;}
.single_page{padding:32px 8px;background-color: rgba(0,10,18,0.7);}
.single_page .single_post_container{max-width: 1280px;margin:0 auto;}
.single_page .single_post_container img{width: 100%; height: auto;margin:24px 0 0 0;}
.single_page .single_post_container .single_content_wrapper{max-width: 766px;margin:0 auto;font-family: 'Inconsolata';font-size: 24px;}
.single_page .single_post_container .single_title{color:#fff;font-size: 200%;}
.single_page .single_post_container .single_post_data{color:#ff5722;margin-top:16px;}
.single_page .single_post_container .single_post_data .term_pool{margin:8px 0px;}
.single_page .single_post_container .single_post_data time{color:#fff;}
.single_page .single_post_container .single_post_data .post_author_item a{color:#fff;}
.single_page .single_post_container .article_content{color:#fff;width:100%;margin:32px 0;}
.single_page .single_post_container .article_content p{margin:8px 0;line-height: 28px;}
.single_page .single_post_container .article_content a{color:#ff5722;}
.single_page .single_post_container .article_content h2{margin:24px 0;font-weight: 700;font-size: 180%;font-family: Fjalla One, sans-serif;}
.single_page .single_post_container .article_content blockquote,
.single_page .single_post_container .article_content figure,
.single_page .single_post_container .article_content iframe{width:100%;background-color: #fff;}
.single_page .single_post_container .article_content .twitter-tweet-rendered{margin-left: auto;margin-right: auto;}
.single_page .single_post_container .article_content div.wp-caption.alignnone{width:100%!important;height: auto;}
.single_page .single_post_container .article_content div.wp-caption.alignnone img{width:100%;height: auto!important;}
.single_page .single_post_container .share_buttons{display: flex;flex-direction: row;align-items: center;justify-content: flex-end;}
.single_page .single_post_container .share_buttons img{width:24px;height: 24px;margin:0;}
.single_page .single_post_container .share_buttons .share_button{margin:16px 24px;}
.single_page .single_post_container .share_buttons .share_button:first-child{margin-right: 0;}
.fb_iframe_widget iframe{top:-3px;}