.section_tag{padding-top:24px;}
.section_title{color:#000a12;font-size:var(--fs-xl);text-align: center;padding: 24px 0;background-color: #FF5722;}

.fig_object{border-radius: 5px;overflow:hidden;}
.fig_caption{background-color: rgba(0,10,18, 0.7);}
.fig_title{color:#FF5722;margin-bottom:8px;line-height:1.4rem;}