/*
 Dark palete +pink
 #000a12
 #263238
 #4f5b62
 #CAE8FA | 202, 232, 250
 #f50057
 #FF530D | 255, 83, 13
*/
.sidebar{background-color:#CAE8FA;padding:8px;border-radius: 5px;font-size: 120%;max-width: 1280px;margin:0 auto;}
.sidebar h2, .sidebar h3{font-size: 110%;}
.sidebar .sidebar_list{overflow: auto;display: flex;margin-top: 16px;}
.sidebar .sidebar_list .sidebar_list_item{flex-shrink: 0;margin-right:16px;}
.sidebar .sidebar_list .sidebar_list_item .fig_object{max-width: 210px;}
.sidebar .sidebar_list .sidebar_list_item .fig_object,
.sidebar .sidebar_list .sidebar_list_item .fig_object img{border-radius: 5px;}
.sidebar .sidebar_list .sidebar_list_item .fig_object a{position: relative;top: 3px;}
.sidebar .sidebar_list .sidebar_list_item .fig_object .fig_caption{background-color: rgba(0,0,0,0.7);}