.type_fig{position: relative;max-height: 375px;overflow: hidden;}
.type_fig img{width: 100%; height:auto;object-fit:cover;object-position:center;filter: blur(5px);}
.type_fig_caption{position: absolute; top: 0; left: 0;right: 0;bottom: 0;display: grid;place-items: center;}
.type_fig_title{font-size: 5em;line-height:40px;color:#fff;text-transform: uppercase;}

.cat_fig{position: relative;}
.cat_fig_caption{position: absolute;bottom:2px;left:0;background-color:rgba(255,255,255,0.4);padding:20px 12px;}
.cat_fig_title{color: #000a12;font-size: var(--fs-500);margin-bottom: 12px;line-height:1.7rem;}
.cat_fig_author{font-size: var(--fs-400);font-weight: 700;color: #000a12;}
.cat_fig_date{font-size: var(--fs-300);}