.self_ad_cotainer, .self_ad_cotainer img{width:100%;min-height: 40px;object-fit: cover;}
.barra_list{display: flex;flex-direction: row;justify-content: flex-start;}
.barra_item{width:calc(100% / 2);}
.home_section{margin-bottom:32px;}
.section_title{display: inline-block;margin-bottom:16px;font-size: 12vw;color:#fff;background-image: url(../../../img/titles_bg/manchas.svg);background-size: contain;background-repeat: no-repeat;background-position: 0% 100%;padding:30px 0 5px 0;text-shadow: 4px 4px 8px #000a12;}
.title_recomend{background-image: url(../../../img/titles_bg/recomendaciones.svg);}
.title_noticias{background-image: url(../../../img/titles_bg/noticias.svg);}
.title_eps{background-image: url(../../../img/titles_bg/podcast.svg);}

.fig_object .fig_caption .fig_title{font-size: 9vw;display: inline;text-shadow: 4px 4px 8px rgb(0,0,0);}
.barra_list .barra_item .fig_object .fig_caption .fig_title{font-size: 6vw;}

.dynamic_pool .desk_container{padding-top: 40px;}
.dynamic_pool .desk_container .updated_list{background-image:linear-gradient(to bottom, #000a12, transparent); padding:16px;}
.dynamic_pool .desk_container .updated_list .updated_item{color:#fff;margin-bottom:4px;padding-bottom:4px;padding-top: 4px; border-bottom:1px solid red;text-shadow: 1px 2px 4px rgba(0,10,18,0.5);}
.dynamic_pool .flex_bar_container .ep_detail{margin-top:8px;}
.dynamic_pool .flex_bar_container .ep_detail .podcast_owner{color:#FF5722;}
.dynamic_pool .flex_bar_container .fig_object .fig_caption .ep_detail .podcast_owner{color:red;}
#barra_recomendaciones .desk_container .updated_list{background-image:linear-gradient(to top, #000a12, transparent);}

#barra_tema_section{margin-bottom:0;}
#barra_tema_section .bottom_list, 
#barra_tema_section .middle_list .fig_object{display: flex;flex-direction: row;justify-content:flex-start;align-items: center;}
#barra_tema_section .bottom_list{margin-bottom: 0;}
#barra_tema_section .middle_list li{background-color:#000a12;}
#barra_tema_section .middle_list li:last-child > .fig_object{flex-direction: row-reverse;border-bottom:none;}
#barra_tema_section .middle_list .fig_object img{max-width: 33.33%;flex-shrink: 0;}
#barra_tema_section .middle_list .fig_object figcaption{margin:0 8px;}
#barra_tema_section .middle_list .fig_object figcaption .fig_title{font-size: 3vh;font-weight: 700;color: #fff;display: inline;padding: 0 4px;}

@media screen and (min-width: 768px){
	.fig_object .fig_caption .fig_title{font-size:5vw;}
	.home_section .fig_object.big_post  .fig_caption .fig_title{font-size: 3.6rem;}
	.home_section .fig_object .fig_caption p{display: block;font-size: 1.6rem;}
	.home_section .section_title{font-size: 10vw;}
	#barra_tema_section .middle_list .fig_object .fig_title{font-size: 2rem;}
	#barra_tema_section .bottom_list .fig_object .fig_caption .fig_title{font-size: 2.2rem;}
	.dynamic_pool .desk_container .flex_bar_container{display:flex;flex-direction:row;justify-content: flex-start;align-items: center;}
	.dynamic_pool .desk_container .flex_bar_container.flex_space{justify-content: space-between;}
	.dynamic_pool .desk_container .flex_bar_container .fig_object{flex-shrink: 0;}
	.dynamic_pool .desk_container .updated_list{margin-left:16px;}
	.dynamic_pool .desk_container .updated_list .updated_item{font-size: 130%;}
	.dynamic_pool .desk_container .updated_list,
	#barra_recomendaciones .desk_container .updated_list{background-image: none;}
	#barra_a_section{padding-top:32px;}
	#barra_tema_section .middle_list li{border-radius: 5px;}
}
@media screen and (min-width: 1024px){
	.barra_list .barra_item .fig_object .fig_caption .fig_title{font-size: 5vw;}
	#barra_tema_section .middle_list .fig_object figcaption .fig_title{font-size: 3.4vw;}
	#barra_a_section .see_more{margin:60px auto;}
	#barra_b_section .fig_object.big_post .fig_caption, #barra_c_section .fig_object.big_post .fig_caption{text-align: right;background-image: none;}
	#barra_b_section .fig_object.big_post img, #barra_c_section .fig_object.big_post img{max-width: 420px;}
	#barra_b_section .barra_list, #barra_c_section .barra_list{justify-content: space-evenly;margin:70px 0;}
	.desk_container .fig_object:first-child{text-align: right;}
	.desk_container .fig_object img{max-width: 768px; max-height: 768px;}
	.desk_container .fig_object.right_align .fig_caption{right:420px;left: 0;}
	#barra_tema_section .middle_list{margin:40px auto;}
	#barra_tema_section .middle_list li{margin:24px 0;}
	#barra_tema_section .bottom_list, 
	#barra_tema_section .middle_list .fig_object{border-bottom: none;}
	#barra_tema_section .bottom_list{justify-content: space-around;}
	#barra_tema_section .middle_list .fig_object figcaption{margin-left:32px;}
	#barra_tema_section.home_section .fig_object .fig_caption .fig_title{font-size: 5rem;}
	#barra_tema_section .bottom_list .fig_object .fig_caption .fig_title{font-size: 2.2rem;}
}
@media screen and (min-width: 1280px){
	.barra_list .barra_item .fig_object .fig_caption .fig_title{font-size: 3.4vw;}
	.home_section .section_title{font-size: 6vw;}
	.fig_object .fig_caption .fig_title{font-size: 4vw;}
	/*.dynamic_pool .flex_bar_container .fig_object .fig_caption .ep_detail .podcast_owner:hover{color:#fff;}*/
	.fig_object .fig_caption{bottom:-5px;}
	#envivo_figure .logo_day{top:4vh;}
	.barra_list{justify-content: space-evenly;margin:60px auto;}
	.barra_list .barra_item{max-width: 420px;}
	#barra_b_section .fig_object.big_post img, #barra_c_section .fig_object.big_post img{max-width: 720px;}
}