#home_section{background-color:#eee;}
#envivo_figure .fig_caption{top:0;}
#envivo_figure .fig_caption div{position:absolute;bottom:0;display: flex;flex-direction: row;justify-content: flex-start;}
#envivo_figure .day_main_background{width:100%;height:80vh;object-fit: cover;object-position: 75% 50%;}
#envivo_figure .logo_day{position:relative;top:80px;width:50%;object-fit: contain;}

#envivo_figure .btn_play_live{width:120px; height: 120px;background-color: transparent;border:none; background-size: contain;background-repeat: no-repeat;background-position: center;}

#barra_episodios{padding:32px 0 0 0;}
.bx-wrapper{border:none!important;}
.episodios_list .episodio_list_item{margin-right:12px;}

/*Barras*/
.barra_list{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;}
.barra_list li{width:calc(100% / 2);}
.barra_list li .fig_title{font-size: 1rem;line-height: 18px;}
.home_section{margin-bottom:32px;}
.home_section .section_title{display: inline-block;border-bottom: 2px solid black;padding:0 16px;margin-bottom:16px;}
.see_more{width:100%;background-color:yellow;padding:16px 0;text-align: center;}