/*
 Dark palete +pink
 #000a12
 #263238
 #4f5b62
 #CAE8FA | 202, 232, 250
 #f50057
 #FF530D | 255, 83, 13
*/
#archive_episodios .posts_pool{padding: 16px 8px 0 8px;}
#archive_episodios .posts_pool .fig_object{display: flex;flex-direction: row-reverse;justify-content:space-between;align-items: center;border-radius:5px;background-color:rgba(202, 232, 250, 0.7);margin-bottom:16px;box-shadow: 4px 4px 16px #000;-webkit-transition:box-shadow .3s;transition: box-shadow .3s;}
#archive_episodios .posts_pool .fig_object img{border-radius: 5px;max-width: 210px;}
#archive_episodios .posts_pool .fig_object .fig_caption{position: relative;display: inline-block;background-color:transparent;}
#archive_episodios .posts_pool .fig_object .fig_caption time{color:#000a12;}
#archive_episodios .posts_pool .fig_object .fig_caption .fig_title{font-size: 130%;}
#archive_episodios .posts_pool .fig_object .fig_caption .ep_info{color:#000a12;display: flex;flex-direction: row; justify-content: flex-start;align-items:top;margin-top: 4px;}
#archive_episodios .posts_pool .fig_object .fig_caption .ep_info h3{color:#FF530D;}
@media screen and (min-width: 760px){
	#archive_episodios .posts_pool{margin:0;display: block;max-width: 666px;margin:0 auto;}
	#archive_episodios .posts_pool .fig_object{width:100%;}
}
@media screen and (min-width: 1280px){
	#archive_episodios .posts_pool .fig_object:hover{box-shadow: 2px 2px 4px #000;}
}