/*
 Dark palete +pink
 #000a12
 #263238
 #4f5b62
 #f50057
 #FF530D
*/
body{background-color:#222; background-image:url(../img/granulado.jpg);background-size:70%; font-family: 'Inconsolata';background-repeat: repeat;background-position: center top;}
a{color:inherit;text-decoration:none;}
button{border-style: none;background-color: transparent;outline: none;}
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}

.first{margin-left:0;padding-left:0;}
.last{margin-right:0;padding-right:0;}

.hidden{display:none;}
.container{max-width:1280px;margin:0 auto;position:relative;}
.wide_wrapper{background-image:linear-gradient(rgba(0,0,0,0.97), rgba(255,255,255, 0.7), red);}

.white_parr{color:#efefef;}
.black_parr{color:#222;}
/*#wpadminbar {z-index:999999999;}*/

.fjalla_font{font-family: 'Fjalla One', sans-serif;}
.consol_font{font-family: 'Inconsolata';}

#logo{background-image:url(../img/logo_nofm.png);background-size: contain;width: 200px;height: auto;background-position: center;background-repeat: no-repeat;position: relative;margin-left:24px;}
#logo a{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}

.social_network{padding: 24px 0;}
.social_logos{width:24px; height: 24px;}

.fig_object{position:relative;overflow: hidden;}
.fig_object a{position: relative;bottom: -3px;}
.fig_object img{width:100%;height: auto;}
.fig_object .fig_caption{position: absolute;left: 0; right: 0; bottom: 0;color:#fff;padding:8px;}
.fig_object .fig_caption .fig_title{text-transform: uppercase;font-weight: 700;}

/*.fig_object.type_figure .fig_caption{top:0;text-align: center;}*/
/*.fig_object.type_figure .fig_caption .fig_title{font-weight: 700;display: inline-block;font-size: 3em;border-bottom: 3px solid #f50057;color:#f50057;position: relative;top: 50%;transform:translateY(-50%);}*/

.see_more{width:100%;background-color:#000a12;padding:16px 0;text-align: center;font-weight: 700;cursor: pointer;color:#f00;}
.expand_menu{width:100%!important;}

/*PAGINATION LINKS*/
.page-numbers{display: flex;flex-direction: row;justify-content: center;background-color: #000a12;max-width: 33%; color:#cae8fa;margin:16px auto;border-radius: 5px;}
.page-numbers li{padding:12px;color:#000;}
.page-numbers.current, .page-numbers .prev, .page-numbers .next {color:#FF530D;}

@media screen and (min-width: 768px){
	.see_more{font-size: 2rem;}
}
@media screen and (min-width: 1024px){
	.see_more{width:20%;margin:0 auto;border-radius: 2px;}
}
@media screen and (min-width: 1280px){
	.fig_object img, .fig_object{border-radius: 5px;}
	.see_more{width:10%;font-size: 1.2rem;box-shadow: 2px 2px 8px rgba(0,0,0,0.5);transition: background-color .33s, box-shadow .33s, color .33s;}
	.see_more:hover{background-color:#f00;color:#000a12;box-shadow: 1px 1px 2px rgba(0,0,0,0.4);}
}

