.single_episode_figure{position: relative;}
.single_episode_figure img{width:100%;height: auto;object-fit: cover;}
.single_episode_figure figcaption{position:absolute;bottom:0;left:0;}
.single_episode_figure figcaption h2{font-size:3em;font-weight: 700;color:#fff;background-color: rgba(0,10,18,0.5);padding:0 8px;}
.single_post_container img{margin:0;}
.single_post_data time,
.single_post_data .info_prefix{color:#000a12;}
.single_post_data.episode_info{background-color:#fff;padding:24px 8px;border-radius: 5px;}
.single_post_data.episode_info .ep_info_item{padding:4px 0px;}
.single_post_data.episode_info .ep_info_item h3{display: inline-block;}
.single_title{margin-top:24px;}
.article_content{margin:0 0 32px 0;}
.player_container{border-bottom:1px solid #ff5722;padding:16px 0;}
.player_container button{color:#ff5722;cursor: pointer;}
.player_container button svg{fill:#fff;width:40px;height: 40px;}
.episode_title span{color:#ff5722;font-size: 32px;margin-left:16px;}
