#central_header{display: flex;justify-content: space-between;flex-wrap: wrap;padding:0 16px;}
#central_header .header_item{vertical-align: middle;}
#type_menu{padding:8px 16px;width:90%;}

#main_site_header{margin:0 auto;background-color: #000;color:#fff;}
#main_site_header .social_network_header{padding: 0px 8px;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;position: fixed;top:0;left: 0;right: 0;z-index: 1;}
#main_site_header .social_network_header ul{padding:0 8px;display: flex;flex-wrap: wrap;flex-direction: row;}
#main_site_header .social_network_header ul li{padding:0 8px;}
#main_site_header .social_network_header .voscast_script_players a{margin:8px;}
#main_site_header .social_network_header h2{text-align: center;font-size: 170%;font-weight: bold;}

#main_header_section{background-color:#eee;}
#envivo_figure .fig_caption{top:0;background-image: url(../../../img/granulado.png);background-color: rgba(0,0,0,0.3);}
#envivo_figure .fig_caption div{position:absolute;top:165px;display: flex;flex-direction: row;justify-content: flex-start;left:8vw;}
#envivo_figure .fig_caption .fig_title{font-size: 4.5rem;color:red;}
#envivo_figure .day_main_background{width:100%;height:50vh;object-fit: cover;object-position: 75% 50%;}
#envivo_figure .logo_day{position:relative;left:8vh;width:30%;object-fit: contain;}

#envivo_figure .btn_play_live{width:120px; height: 120px;background-color: transparent;border:none; background-size: contain;background-repeat: no-repeat;background-position: center;}
#envivo_figure .btn_play_live:hover{cursor: pointer;}

#menu-type_menu{display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;}


.md-48{font-size: 48px;line-height: 70px;}

/*Main NavigationDrawer*/
.menu-main-menu{width:0;border:1px solid blue;position: relative;}
.main_navigation div{position: absolute;right: 0;top:40px;}
.main_navigation div ul.menu li{padding:8px 24px;border:1px solid cyan;margin-bottom:8px;}

/*Hamburguer button*/
.btn_menu_container{display: inline-block;cursor: pointer;}
.bar1, .bar2, .bar3 {width: 35px;height: 5px;background-color: #fff;margin: 6px 0;transition: 0.4s;}
.change .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 6px);transform: rotate(-45deg) translate(-9px, 6px);}
.change .bar2 {opacity: 0;}
.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px);transform: rotate(45deg) translate(-8px, -8px);}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px){
	#menu-type_menu .menu-item{font-size:24px; }
	#logo{width:260px;}
}